[Unit]
Description=3D Printer Controller
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/hackathon19/build
ExecStart=/bin/bash /home/pi/hackathon19/service.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
